.forecast-details {
  display: grid;
  grid-template-areas: 
    "date date date date"
    "temp-min temp-max humidity wind";
  place-items: center;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, var(--bg-opacity));
}

.forecast-details__date {
  grid-area: date;
  padding: 0.5rem;
}

.forecast-details__humidity {
  grid-area: humidity;
}

.forecast-details__temperature-min {
  grid-area: temp-min;
}

.forecast-details__temperature-max {
  grid-area: temp-max;
}

.forecast-details__wind {
  grid-area: wind;
  display: flex;
}

.forecast-details__wind * {
  margin: 0 0.25rem;
}
