@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");

:root {
  --clr-dark: rgb(0, 33, 65);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Urbanist;
  max-height: 100vh;
  letter-spacing: 0.025em;
  color: #fffe;
  background: var(--clr-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

input[type="text"] {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  outline-color: rgb(174, 218, 253);
}

button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  background: rgba(23, 61, 118, 0.431);
}

button:active {
  box-shadow: none;
  transform: translate(0, 0.125rem);
}

button:hover {
  cursor: pointer;
}

.shadow {
  box-shadow: 0.25rem 0.25rem 0.45rem 0 rgba(0, 0, 0, 0.125);
}
