:root {
  --light: rgb(238, 238, 238);
  --dark: #142d50;
}

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  letter-spacing: 0.075em;
  height: 100vh;
  font-family: Urbanist;
  color: var(--light);
  background-image: linear-gradient(to top, var(--dark) 0%, #537895 100%);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.125em;
  margin: 0 auto 1em;
}

h2 {
  margin-bottom: 0.5rem;
}

h1, h2 {
  letter-spacing: 0.075em;
}

input[type="text"] {
  color: var(--dark);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.025em;
  outline-color: var(--light);
  background: rgba(255, 255, 255, 0.8);
}

button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.025em;
  color: var(--light);
  background: var(--dark);
}

button:active {
  box-shadow: none;
  transform: translate(0, 0.125rem);
}

button:hover {
  cursor: pointer;
}

.shadow {
  box-shadow: 0.25rem 0.25rem 0.45rem 0 rgba(0, 0, 0, 0.125);
}
