:root {
  --white: rgb(247, 247, 247);
  --light: #9fcfff;
  --mid: #2b4b64; 
  --dark: #0e1f36;
  --bg-opacity: 0.125;
  --shadow-opacity: 0.125;
  --whitespace: 4vw;
}

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 3vw;
}

body {
  letter-spacing: 0.075em;
  min-height: 100vh;
  font-family: Urbanist;
  color: var(--white);
  background-image: linear-gradient(to top, var(--dark) 0%, var(--mid) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: var(--whitespace);
}

p {
  font-size: 1.125em;
}

h1,
h2 {
  letter-spacing: 0.075em;
}

input[type="text"] {
  color: var(--dark);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.25em;
  outline-color: var(--light);
  background: rgba(255, 255, 255, 0.8);
}

button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.025em;
  color: var(--white);
  background: var(--dark);
}

button:active {
  box-shadow: none;
  transform: translate(0, 0.125rem);
}

button:hover {
  cursor: pointer;
}

.shadow {
  box-shadow: 0.25rem 0.25rem 0.45rem 0 rgba(0, 0, 0, var(--shadow-opacity));
}
