@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Urbanist;
  letter-spacing: 0.025em;
  color: rgb(56, 56, 56);
  background: #d8d8d8;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  font-size: 1.125em;
  margin: 0 auto 1em;
}

h1 {
  margin: 0.5rem auto 1rem;;
}

h2 {
  margin-bottom: 0.5rem;
}

input[type="text"] {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.025em;
  outline-color: rgb(174, 218, 253);
}

button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.025em;
  color: white;
  background:rgba(23, 61, 118, 0.431);
  box-shadow: 
  /* 0.1rem 0.1rem 0.2rem 0 rgba(255, 255, 255, 0.25) inset,  */
  0.25rem 0.25rem 0.45rem 0 rgba(0, 0, 0, 0.125),
  /* -0.1rem -0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05) inset */
  ;
}

button:active {
  box-shadow: none;
  transform: translate(0, 0.125rem);
}

button:hover {
 cursor: pointer;
}

.shadow {
  box-shadow: 0.25rem 0.25rem 0.45rem 0 rgba(0, 0, 0, 0.125);
}
