.weather-icon-component {
    display: grid;
    place-items: center;
    width: 6rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgb(174, 218, 253);
    border: 1px solid rgba(255, 255, 255, 0.278);
    box-shadow: 
    0.25rem 0.25rem 0.45rem 0 rgba(255, 255, 255, 0.125), 
    0.1rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.125) inset
    ;
}