.weather-app {
  display: grid;
  grid-template-rows: auto 10fr 3fr;
  gap: 0.25rem;
  margin: 0 auto;
  min-height: calc(100vh - 2rem);
  max-height: calc(100vh - 2rem);
}

.weather-app__header {
  display: grid;
  place-items: center;
}
