.weather-icon-component {
    display: grid;
    place-items: center;
    width: 6rem;
    margin-bottom: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgb(174, 218, 253);
    box-shadow: 
    0.1rem 0.1rem 0.2rem 0 rgba(255, 255, 255, 0.25), 
    0.1rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05) inset,
    -0.1rem -0.1rem 0.2rem 0 rgba(0, 0, 0, 0.125)
    ;
    /* 0.1rem 0.1rem 0.2rem 0 rgba(255, 255, 255, 0.25) inset,  */
}